<div class="foot">
<p>
<div id="share-icons">
<a href="#" target="_blank"><%= image_tag "facebookicon.png", id:"face"%></a>
<a href="#" target="_blank"><%= image_tag "g.png", id:"g"%></a>
<a href="https://www.youtube.com/channel/UCiE8jsO5gN_dbvzOLPjtRPA" target="_blank"><%= image_tag "youtube.png", id:"ytb"%></a>
<a href="#" target="_blank"><%= image_tag "instagram.png", id:"inst" %></a>
<a href="https://api.whatsapp.com/send?1=pt_BR&phone=556192279968" target="_blank"><%= image_tag "whatsapp.png", id:"whats" %></a>
</div>
</p>
<p>@2018 Lucas Godoi</p>
<p> Designed by Renan Godoi</p>
</div>