<p id="notice"><%= notice %></p>

<table id="gerenciamento">
  <thead>
  <tr>
    <th colspan="4"><h1>Poemas</h1></th>
  </tr>
  </thead>

  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @poemas.each do |poema| %>
      <tr>
        <td><%= poema.titulo %></td>
        <td><%= link_to 'Mostrar', poema %></td>
        <td><%= link_to 'Editar', edit_poema_path(poema) %></td>
        <td><%= link_to 'Deletar', poema, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Adicionar Poema", new_poema_path, :method => :get %>