<%= form_with(model: musica, local: true, id: "formulario", multipart: true) do |form| %>
  <% if musica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(musica.errors.count, "error") %> prohibited this musica from being saved:</h2>

      <ul>
      <% musica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Título " %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label "Selecione um(1) ou mais arquivos de Audio" %>
    <%= form.file_field :audios, multiple: true, direct_upload: true %>
  </div>

  <div class="actions">
    <%= form.submit "Postar Album" %>
  </div>
<% end %>
