<%= form_with(model: admin, local: true,id:"formulario") do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inicial %>
    <%= form.text_area :inicial %>
  </div>

  <div class="field">
    <%= form.label :homepage %>
    <%= form.text_area :homepage %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :contato %>
    <%= form.text_area :contato %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar Paginas"%>
  </div>
<% end %>
