<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Clique aqui para ir à pagina Inicial", "/" %>
</p>

<p>
  <%= link_to "Clique aqui para ir à pagina Homepage", "/homepage"%>
</p>

<p>
  <%= link_to "Clique aqui para ir à pagina Sobre", "/sobre"%>
</p>

<p>
  <%= link_to "Clique aqui para ir à pagina Contato", "/contato"%>
</p>

<%= link_to 'Editar', edit_admin_path(@admin) %> |
<%= link_to 'Voltar', admins_path %>
