<%= form_with(model: texto, id: "formulario", local: true) do |form| %>
  <% if texto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(texto.errors.count, "error") %> prohibited this texto from being saved:</h2>

      <ul>
      <% texto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit @post %>
  </div>
<% end %>
